#gameArea {
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  width: 600px;
  height: 400px;
}

#player {
  position: absolute;
  background-color: red;
  top: 200px;
  left: 10px;
  width: 20px;
  height: 20px;
  z-index: 5;
}

.obstacle {
  position: absolute;
  background-color: blue;
  top: 200px;
  left: 100px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

#freezoneLeft {
  position: absolute;
  background-color: rgb(100, 224, 106);
  top: 0px;
  left: 0px;
  width: 50px;
  height: 400px;
  z-index: 0;
}

#freezoneRight {
  position: absolute;
  background-color: rgb(100, 224, 106);
  top: 0px;
  left: 550px;
  width: 50px;
  height: 400px;
  z-index: 0;
}
