body {
  margin: 30px;
  padding: 0px;
}

#gameArea {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: rgb(201, 237, 201);
}

#freezoneLeft {
  position: absolute;
  background-color: rgb(116, 179, 116);
  left: 0px;
  top: 0px;
  width: 50px;
  height: 400px;
}

#freezoneRight {
  position: absolute;
  background-color: rgb(116, 179, 116);
  left: 550px;
  top: 0px;
  width: 50px;
  height: 400px;
}

#message {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
  left: 50%;
  top: 50%;
  z-index: 10;
  text-align: center;
  visibility: hidden;
}

#score {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 20px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
  left: 10px;
  top: 10px;
  z-index: 10;
  text-align: center;
  z-index: 11;
}

#player,
#sheep,
.ghost,
.obstacle {
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#player {
  background-color: blue;
  z-index: 4;
}
#sheep {
  background-color: yellow;
  left: 300px;
  top: 200px;
  z-index: 2;
}
.ghost {
  background-color: red;
  left: 100px;
  z-index: 3;
}
.obstacle {
  background-color: grey;
  left: 200px;
  top: 100px;
}
