body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#gameArea {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 70vw;
  height: 90vh;
}

#widgets {
  padding: 15px;
}

#cellCount {
  float: right
}

.cell {
  position: absolute;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.alive {
  background-color: rgba(11, 181, 11, 0.7);
}

.empty {
  background-color: gray;
}